@import "bulma-overrides";
@import "../bulma/bulma.sass";

$aside-spacing: 1.5rem;

html,
body {
    height: 100%;
}

* {
    transition-property: color, background-color;
    transition-duration: 0.4s;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    width: 250px;
    background-color: black;
    color: white;
    padding: 0.5rem $aside-spacing;
    display: flex;
    flex-direction: column;

    .menu {
        font-size: 0.9rem;
      }

    .menu-list a {
        color: white;
        padding-left: $aside-spacing;
        border-radius: 0;
    }

    .search-menu {
        margin-bottom: 15px;
    }

    h1,
    h2 {
        color: white !important;
    }

    .subtitle {
        margin-bottom: 2rem !important;
    }

    .title {
        margin-top: 1rem;
    }

    .menu-list {
        margin-left: -$aside-spacing;
        margin-right: -$aside-spacing;
    }

    .menu-label {
        margin-bottom: 0.25rem !important;
    }
}

.main-column {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem 2.5rem;
}

.page-link {
  display: flex;

  + .page-link {
    margin-top: 10px;
  }

  > a {
    margin-right: 7px;
  }
}

.title-icon {
  margin-bottom: 10px;
}


.items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      padding: 8px;
      font-weight: bold;

      &:hover {
        background-color: lightgrey;
      }

      + .item {
        border-top: 0px;
      }

      .tags {
        margin-left: auto;
      }
    }
}

.tag {
    font-weight: initial;
}
