@import "bulma-overrides";
@import "../bulma/bulma.sass";

$aside-spacing: 1.5rem;
$aside-width: 300px;
$mobile-nav-min: $desktop;

html,
body {
    font-size: calc(1rem + 0.1vw);
}

* {
    transition-property: color, background-color;
    transition-duration: 0.4s;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    width: $aside-width;
    position: fixed;
    height: 100%;
    background-color: $light;
    color: $white;
    padding: 0.5rem $aside-spacing;
    display: flex;
    flex-direction: column;

    @include until($mobile-nav-min) {
        display: none;
    }

    .menu {
        font-size: 0.9rem;
    }

    .menu-list a {
        padding-left: $aside-spacing;
        border-radius: 0;
    }

    h1 a {
      color: inherit;
    }

    .subtitle {
        margin-bottom: 2rem !important;
    }

    .title {
        margin-top: 1rem;
    }

    .menu-list {
        margin-left: -$aside-spacing;
        margin-right: -$aside-spacing;

        a:hover {
            background-color: $grey-lighter;
        }
    }

    .menu-label {
        margin-bottom: 0.25rem !important;
    }
}

.main-column {
    @include from($mobile-nav-min) {
        margin-left: $aside-width;
    }

    width: 100%;

    .main-wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        padding: 5rem 2.5rem;
    }
}

.page-link {
  display: flex;

  + .page-link {
    margin-top: 10px;
  }

  > a {
    margin-right: 7px;
  }
}

.title-icon {
  margin-bottom: 10px;
}


.items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      padding: 8px;
      font-weight: bold;
      color: $dark;

      &:hover {
        background-color: $grey-lighter;
      }

      + .item {
        border-top: 0px;
      }

      .tag {
        color: $dark;
      }

      .tags {
        margin-left: auto;
      }

      .emoji {
        margin-right: 8px;
      }
    }
}

.tag {
    font-weight: initial;
}

.item-pill {
  margin-right: 7px;
  width: 1em !important;
  height: 1em !important;
  border-radius: 1em !important;
  padding: 0 !important;
}

#toc-wrapper {
  margin-bottom: 1rem;
  cursor: pointer;

  ul {
    margin-top: 0.5rem;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  .anchor {
    color: inherit;

    &:hover {
      color: $link;
    }
  }
}

.codeblock-wrapper {
  position: relative;
  margin-bottom: $content-block-margin-bottom;

  .code-header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .language-tag {
    border-radius: 0;
    font-family: $family-monospace;
    font-weight: $weight-medium;
    margin-right: 1.5rem;

    span {
      // HACK: Naive inverse threshold of the colour for optimum contrast
      filter: contrast(1000) grayscale(100) invert(1);
    }
  }

  .code-copy-tag {
    background-color: transparent;
    cursor: pointer;
  }
}

.navbar {
  @include from($mobile-nav-min) {
    display: none;
  }

  .navbar-menu {
      padding: 0.75rem $aside-spacing;
  }

  .navbar-start, .navbar-end {
      font-size: 0.9rem;
  }

  a.navbar-item:hover {
    background-color: $grey-lighter;
    color: unset;
  }

  .navbar-end {
    margin-top: 10px;
  }

  .menu-label {
      :not(:first-of-type) {
          margin-top: 1.25rem;
      }
      margin-bottom: 0.25rem !important;
  }
}
