<a class="item" href="{{ .RelPermalink }}">
    {{ .LinkTitle }}

    {{ if .Params.tags }}
        <span class="tags">
            {{ $tagsPage := .Site.GetPage "/tags"}}

            {{ range (.Params.tags | sort) }}
                {{ $tagPage := $tagsPage.GetPage . }}
                {{ $colour := partial "page-colour.html" $tagPage }}
                <span href="{{ $tagPage.RelPermalink }}" class="tag colored" title="{{ $tagPage.Title }}" {{ printf "style='background-color: %s'" $colour | safeHTMLAttr }}>{{ $tagPage.Title }}</span>
            {{ end }}
        </span>
    {{ end }}
</a>
