<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.Home.RelPermalink }}">
      <h1 class="is-5 title">{{ .Site.Title }}</h1>
    </a>

    <a role="button" class="navbar-burger" id="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mobileNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mobileNavbar" class="navbar-menu has-background-light">
    <div class="navbar-start">
        <p class="menu-label">
            Tags
        </p>
        {{ range .Site.Taxonomies.tags }}
            {{ $colour := partial "page-colour.html" .Page }}
            <a class="navbar-item" href="{{ .Page.RelPermalink }}">
                <span class="tag item-pill" {{ printf "style='background-color: %s'" $colour | safeHTMLAttr }}></span>

                {{ .Page.LinkTitle }}
            </a>
        {{ end }}

        <p class="menu-label">
            Sections
        </p>
        {{ range .Site.Sections.ByTitle }}
            <a class="navbar-item" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
    </div>
    <div class="navbar-end">
        {{ with .Site.GetPage "all" }}
            <a class="navbar-item" href="">
                {{ .LinkTitle | upper }}
            </a>
        {{ end }}
    </div>
  </div>
</nav>
