<h1 class="is-5 title"><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></h1>
{{ if .Site.Params.subtitle }}
<h2 class="subtitle is-6">{{ .Site.Params.subtitle }}</h2>
{{ end }}

<div class="menu">
    <p class="menu-label">
        Tags
    </p>
    <ul class="menu-list">
        {{ range .Site.Taxonomies.tags }}
            {{ $colour := partial "page-colour.html" .Page }}
            <li><a href="{{ .Page.RelPermalink }}">
                <span class="tag item-pill" {{ printf "style='background-color: %s'" $colour | safeHTMLAttr }}></span>

                {{ .Page.LinkTitle }}
            </a></li>
        {{ end }}
    </ul>
    <p class="menu-label">
        Sections
    </p>
    <ul class="menu-list">
        {{ range .Site.Sections.ByTitle }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
</div>

<div class="menu mt-auto">

    <ul class="menu-list">
        {{ with .Site.GetPage "all" }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle | upper }}</a></li>
        {{ end }}

        {{ $latestMod := index (where .Site.RegularPages.ByLastmod "Params.tags" "!=" nil) 0 }}
        <li><a>Updated: {{ partial "time" $latestMod.Lastmod }}</a></li>
    </ul>
</div>
