
{{ define "main" }}
    {{ $pages := (first 10 (where .Site.RegularPages.ByLastmod "Params.tags" "!=" nil)) }}

    {{ partial "content-header.html" . }}

    <hr />

    {{ if .Content }}
        {{ partial "content.html" . }}

        <hr />
    {{ end }}

    <div class="items">
        {{ range $pages }}
            {{ partial "list-item.html" . }}
        {{ end }}
    </div>

    {{ with .Site.GetPage "all" }}
        <hr />

        <div>
            <p>Showing first {{ $pages | len }} notes - <a href="{{ .RelPermalink }}">{{ .LinkTitle }} &rarr;</a></p>
        </div>
    {{ end }}
{{ end }}
