{{ define "main" }}
    {{ $pages := where .Site.RegularPages.ByLastmod "Params.tags" "!=" nil }}
    {{ $allPage := .Site.GetPage "all" }}

    {{ if $allPage }}
        {{ $pages = (first .Params.show_pages $pages) }}
    {{ end }}

    {{ partial "content-header.html" . }}

    <hr />

    {{ if .Content }}
        {{ partial "content.html" . }}

        <hr />
    {{ end }}

    <div class="items">
        {{ range $pages }}
            {{ partial "list-item.html" . }}
        {{ end }}
    </div>

    {{ with $allPage }}
        <hr />

        <div>
            <p>Showing first {{ $pages | len }} notes - <a href="{{ .RelPermalink }}">{{ .LinkTitle }} &rarr;</a></p>
        </div>
    {{ end }}
{{ end }}
